USE [Prod]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER FUNCTION [dbo].[GenerateOpsScorecardUnderwriters] 
(
	-- Add the parameters for the function here
	@MonthID INT
)
RETURNS 
@UnderwritingOpsScorecard TABLE(
			Underwriter VARCHAR(100),
			InitialUWWeightedTouchesPrevMo Decimal (6,2),
			FinalUWWeightedTouchesPrevMo Decimal (6,2),
			CriticalSubsWeightedTouchesPrevMo Decimal (6,2),
			SuspenseWeightedTouchesPrevMo Decimal (6,2),
			OnHoldWeightedTouchesPrevMo Decimal (6,2),
			AdversedWeightedTouchesPrevMo Decimal (6,2),
			SKIEWeightedTouchesPrevMo Decimal (6,2),
			PCFindingsLast3Months Decimal (6,2),
			FinalUWWeightedTouchesLast3Months Decimal (6,2),
			AdversedWeightedTouchesLast3Months Decimal (6,2),
			DaysWorkedPrevMo Decimal (5,2),
			DaysWorkedLast3Months Decimal (6,2),
			ACESMatModPercent Decimal (3,2),
			ACESTotalPercent Decimal(3,2),
			ACESAveragedScore Decimal(2,1)
	)
AS
BEGIN
	--DECLARE @MonthID INT
	--SELECT @MonthID = 20230201

	DECLARE @CurrentDate Date 
	SELECT @CurrentDate  = Date  FROM  [Prod].[dbo].[DimDate] d WHERE @MonthID =d.DateId
	DECLARE @CurrentMoStart Date
	SELECT @CurrentMoStart = DATEADD(month, DATEDIFF(month, 0, @CurrentDate), 0)

	DECLARE @PrevStartDate Date 
	SELECT @PrevStartDate = DATEADD(mm, DATEDIFF(mm, 0, @CurrentDate) - 1, 0)
	DECLARE @PrevStartDateID INT
	SELECT @PrevStartDateID  = DateId  FROM  [Prod].[dbo].[DimDate] d WHERE @PrevStartDate =d.Date

	DECLARE @Rolling90DayStartDate Date 
	SELECT @Rolling90DayStartDate = DATEADD(mm, DATEDIFF(mm, 0, @CurrentDate) - 3, 0)
	--print @Rolling90DayStartDate
	DECLARE @Rolling90DayStartDateID INT
	SELECT @Rolling90DayStartDateID  = DateId  FROM  [Prod].[dbo].[DimDate] d WHERE @Rolling90DayStartDate =d.Date

	DECLARE @PrevEndDate Date 
	SELECT @PrevEndDate = EOMONTH(@PrevStartDate)
	DECLARE @PrevEndDateID INT
	SELECT @PrevEndDateID  = DateId  FROM  [Prod].[dbo].[DimDate] d WHERE @PrevEndDate =d.Date

	DECLARE @PrevQStartDate Date
	SELECT @PrevQStartDate = DATEADD(q, DATEDIFF(q, 0, @PrevStartDate), 0)
	DECLARE @PrevQStartDateID INT
	SELECT @PrevQStartDateID  = DateId  FROM  [Prod].[dbo].[DimDate] d WHERE @PrevQStartDate =d.Date

	DECLARE @YearStartDate Date 
	SELECT @YearStartDate = DATEADD(yy, DATEDIFF(yy, 0, @PrevStartDate), 0) 
	DECLARE @YearStartDateID INT
	SELECT @YearStartDateID  = DateId  FROM  [Prod].[dbo].[DimDate] d WHERE @YearStartDate =d.Date
	;
		WITH 
Underwriters AS(
		SELECT DISTINCT [Employee] FROM [GA_Staging_Test].[dbo].[UWHoursWorked]
	)

	INSERT INTO @UnderwritingOpsScorecard SELECT
	uw.[Employee],
--Prev Mo
	--Weighted Touches
		--Initial UW
		(SUM(IIF(f.[TaskID]=52 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='DPA - 2nd'),0.50,0))
		+SUM(IIF(f.[TaskID]=52 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='FHA - Streamline' 
									 OR l.[Category]='FHLMC' 
									 OR l.[Category]='FHLMC - Hi Bal'
									 OR l.[Category]='FNMA'
									 OR l.[Category]='FNMA - Hi Bal'
									 OR l.[Category]='Portfolio - Agency Fixed'),1.00,0))
		+SUM(IIF(f.[TaskID]=52 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='FHA' 
									 OR l.[Category]='VA' 
									 OR l.[Category]='FHA - Hi Bal' 
									 OR l.[Category]='VA - Hi Bal'),1.25,0))
		+SUM(IIF(f.[TaskID]=52 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='DPA - 1st' 
									 OR l.[Category]='FHLMC - Const Perm' 
									 OR l.[Category]='FNMA - Const Perm' 
									 OR l.[Category]='USDA' 
									 OR l.[Category] LIKE 'FNMA - Const Perm - Hi Ba%'),1.50,0))
		+SUM(IIF(f.[TaskID]=52 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='Jumbo - Del' 
									 OR l.[Category]='FHA - Rehab' 
									 OR l.[Category]='FNMA - Rehab'
									 OR l.[Category]='Portfolio - 2nd'
									 OR l.[Category]='Portfolio - ARM' 
									 OR l.[Category]='Portfolio - Bridge' 
									 OR l.[Category]='Portfolio - Fixed' 
									 OR l.[Category]='VA - Const Perm' 
									 OR l.[Category]='Jumbo - Non Del'
									 OR l.[Category]='VA - Rehab'
									 OR l.[Category]='"Portfolio - Specialty Fi'
									 OR l.[Category]='Niche'),1.75,0))
		+SUM(IIF(f.[TaskID]=52 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='Portfolio - Const'
									 OR l.[Category]='Portfolio - Jumbo - Const'
									 OR l.[Category]='Portfolio - Const Perm'),2.25,0))
		+SUM(IIF(f.[TaskID]=52 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='Portfolio - Commercial'),3.00,0)) ),

		--Final UW
		(SUM(IIF(f.[TaskID]=54 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='DPA - 2nd'),0.50,0))
		+SUM(IIF(f.[TaskID]=54 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='FHA - Streamline' 
									 OR l.[Category]='FHLMC' 
									 OR l.[Category]='FHLMC - Hi Bal'
									 OR l.[Category]='FNMA'
									 OR l.[Category]='FNMA - Hi Bal'
									 OR l.[Category]='Portfolio - Agency Fixed'),1.00,0))
		+SUM(IIF(f.[TaskID]=54 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='FHA' 
									 OR l.[Category]='VA' 
									 OR l.[Category]='FHA - Hi Bal' 
									 OR l.[Category]='VA - Hi Bal'),1.25,0))
		+SUM(IIF(f.[TaskID]=54 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='DPA - 1st' 
									 OR l.[Category]='FHLMC - Const Perm' 
									 OR l.[Category]='FNMA - Const Perm' 
									 OR l.[Category]='USDA' 
									 OR l.[Category] LIKE 'FNMA - Const Perm - Hi Ba%'),1.50,0))
		+SUM(IIF(f.[TaskID]=54 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='Jumbo - Del' 
									 OR l.[Category]='FHA - Rehab' 
									 OR l.[Category]='FNMA - Rehab'
									 OR l.[Category]='Portfolio - 2nd'
									 OR l.[Category]='Portfolio - ARM' 
									 OR l.[Category]='Portfolio - Bridge' 
									 OR l.[Category]='Portfolio - Fixed' 
									 OR l.[Category]='VA - Const Perm' 
									 OR l.[Category]='Jumbo - Non Del'
									 OR l.[Category]='VA - Rehab'
									 OR l.[Category]='"Portfolio - Specialty Fi'
									 OR l.[Category]='Niche'),1.75,0))
		+SUM(IIF(f.[TaskID]=54 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='Portfolio - Const'
									 OR l.[Category]='Portfolio - Jumbo - Const'
									 OR l.[Category]='Portfolio - Const Perm'),2.25,0))
		+SUM(IIF(f.[TaskID]=54 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='Portfolio - Commercial'),3.00,0)) ),

		--Critical Submission
		(SUM(IIF(f.[TaskID]=56 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='DPA - 2nd'),0.50,0))
		+SUM(IIF(f.[TaskID]=56 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='FHA - Streamline' 
									 OR l.[Category]='FHLMC' 
									 OR l.[Category]='FHLMC - Hi Bal'
									 OR l.[Category]='FNMA'
									 OR l.[Category]='FNMA - Hi Bal'
									 OR l.[Category]='Portfolio - Agency Fixed'),1.00,0))
		+SUM(IIF(f.[TaskID]=56 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='FHA' 
									 OR l.[Category]='VA' 
									 OR l.[Category]='FHA - Hi Bal' 
									 OR l.[Category]='VA - Hi Bal'),1.25,0))
		+SUM(IIF(f.[TaskID]=56 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='DPA - 1st' 
									 OR l.[Category]='FHLMC - Const Perm' 
									 OR l.[Category]='FNMA - Const Perm' 
									 OR l.[Category]='USDA' 
									 OR l.[Category] LIKE 'FNMA - Const Perm - Hi Ba%'),1.50,0))
		+SUM(IIF(f.[TaskID]=56 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='Jumbo - Del' 
									 OR l.[Category]='FHA - Rehab' 
									 OR l.[Category]='FNMA - Rehab'
									 OR l.[Category]='Portfolio - 2nd'
									 OR l.[Category]='Portfolio - ARM' 
									 OR l.[Category]='Portfolio - Bridge' 
									 OR l.[Category]='Portfolio - Fixed' 
									 OR l.[Category]='VA - Const Perm' 
									 OR l.[Category]='Jumbo - Non Del'
									 OR l.[Category]='VA - Rehab'
									 OR l.[Category]='"Portfolio - Specialty Fi'
									 OR l.[Category]='Niche'),1.75,0))
		+SUM(IIF(f.[TaskID]=56 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='Portfolio - Const'
									 OR l.[Category]='Portfolio - Jumbo - Const'
									 OR l.[Category]='Portfolio - Const Perm'),2.25,0))
		+SUM(IIF(f.[TaskID]=56 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='Portfolio - Commercial'),3.00,0)) ),

		--Suspense
		(SUM(IIF(f.[TaskID]=104 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='DPA - 2nd'),0.50,0))
		+SUM(IIF(f.[TaskID]=104 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='FHA - Streamline' 
									 OR l.[Category]='FHLMC' 
									 OR l.[Category]='FHLMC - Hi Bal'
									 OR l.[Category]='FNMA'
									 OR l.[Category]='FNMA - Hi Bal'
									 OR l.[Category]='Portfolio - Agency Fixed'),1.00,0))
		+SUM(IIF(f.[TaskID]=104 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='FHA' 
									 OR l.[Category]='VA' 
									 OR l.[Category]='FHA - Hi Bal' 
									 OR l.[Category]='VA - Hi Bal'),1.25,0))
		+SUM(IIF(f.[TaskID]=104 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='DPA - 1st' 
									 OR l.[Category]='FHLMC - Const Perm' 
									 OR l.[Category]='FNMA - Const Perm' 
									 OR l.[Category]='USDA' 
									 OR l.[Category] LIKE 'FNMA - Const Perm - Hi Ba%'),1.50,0))
		+SUM(IIF(f.[TaskID]=104 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='Jumbo - Del' 
									 OR l.[Category]='FHA - Rehab' 
									 OR l.[Category]='FNMA - Rehab'
									 OR l.[Category]='Portfolio - 2nd'
									 OR l.[Category]='Portfolio - ARM' 
									 OR l.[Category]='Portfolio - Bridge' 
									 OR l.[Category]='Portfolio - Fixed' 
									 OR l.[Category]='VA - Const Perm' 
									 OR l.[Category]='Jumbo - Non Del'
									 OR l.[Category]='VA - Rehab'
									 OR l.[Category]='"Portfolio - Specialty Fi'
									 OR l.[Category]='Niche'),1.75,0))
		+SUM(IIF(f.[TaskID]=104 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='Portfolio - Const'
									 OR l.[Category]='Portfolio - Jumbo - Const'
									 OR l.[Category]='Portfolio - Const Perm'),2.25,0))
		+SUM(IIF(f.[TaskID]=104 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='Portfolio - Commercial'),3.00,0)) ),
		--OnHoldWeightedTouches
		(SUM(IIF(f.[TaskID]=55 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='DPA - 2nd'),0.50,0))
		+SUM(IIF(f.[TaskID]=55 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='FHA - Streamline' 
									 OR l.[Category]='FHLMC' 
									 OR l.[Category]='FHLMC - Hi Bal'
									 OR l.[Category]='FNMA'
									 OR l.[Category]='FNMA - Hi Bal'
									 OR l.[Category]='Portfolio - Agency Fixed'),1.00,0))
		+SUM(IIF(f.[TaskID]=55 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='FHA' 
									 OR l.[Category]='VA' 
									 OR l.[Category]='FHA - Hi Bal' 
									 OR l.[Category]='VA - Hi Bal'),1.25,0))
		+SUM(IIF(f.[TaskID]=55 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='DPA - 1st' 
									 OR l.[Category]='FHLMC - Const Perm' 
									 OR l.[Category]='FNMA - Const Perm' 
									 OR l.[Category]='USDA' 
									 OR l.[Category] LIKE 'FNMA - Const Perm - Hi Ba%'),1.50,0))
		+SUM(IIF(f.[TaskID]=55 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='Jumbo - Del' 
									 OR l.[Category]='FHA - Rehab' 
									 OR l.[Category]='FNMA - Rehab'
									 OR l.[Category]='Portfolio - 2nd'
									 OR l.[Category]='Portfolio - ARM' 
									 OR l.[Category]='Portfolio - Bridge' 
									 OR l.[Category]='Portfolio - Fixed' 
									 OR l.[Category]='VA - Const Perm' 
									 OR l.[Category]='Jumbo - Non Del'
									 OR l.[Category]='VA - Rehab'
									 OR l.[Category]='"Portfolio - Specialty Fi'
									 OR l.[Category]='Niche'),1.75,0))
		+SUM(IIF(f.[TaskID]=55 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='Portfolio - Const'
									 OR l.[Category]='Portfolio - Jumbo - Const'
									 OR l.[Category]='Portfolio - Const Perm'),2.25,0))
		+SUM(IIF(f.[TaskID]=55 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='Portfolio - Commercial'),3.00,0)) ),
		--AdversedUnits
		(SUM(IIF(f.[TaskID]=297 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Program]='MFA First Down Second Mortgage' 
									OR l.[Program]='NHF - 10 yr Fixed 2nd Mtg'),0.50,0))
		+SUM(IIF(f.[TaskID]=297 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Program]='FNMA - 30 yr Fixed' 
									OR l.[Program]='FNMA HomeReady - 30 yr Fixed' 
									OR l.[Program]='OTHL Specialty Conventional 30 yr Fixed - Investment Property' 
									OR l.[Program]='OTHL Specialty Conventional High Bal 30 yr Fixed'),1.00,0))
		+SUM(IIF(f.[TaskID]=297 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Program]='FHA - 30 yr Fixed' 
									OR l.[Program]='OTHL Specialty FHA High Bal 30 yr Fixed' 
									OR l.[Program]='OTHL Specialty VA  30 yr Fixed' 
									OR l.[Program]='VA - 30 yr Fixed'),1.25,0))
		+SUM(IIF(f.[TaskID]=297 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Program]='FHA Single-Close Constr To Perm - 30 yr Fixed' 
									OR l.[Program]='IHFA - Advantage Conv 30 Year Fixed' 
									OR l.[Program]='MFA First Home - FHA 30 Year Fixed' 
									OR l.[Program]='MFA Next Home - FHA 30 Year Fixed' 
									OR l.[Program]='OTHL Portfolio - 30/15 yr Fixed Balloon 2nd Mtg - ADU Single-Close Constr T'),1.50,0))
		+SUM(IIF(f.[TaskID]=297 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Program]='FHA 203k - 30 yr Fixed' 
									OR l.[Program]='OTHL Portfolio - Bridge 1 yr Fixed IO' 
									OR l.[Program]='OTHL Portfolio - Lot/Land IO' 
									OR l.[Program]='OTHL Portfolio - Non-QM 5/6 ARM' 
									OR l.[Program]='Truist Bank - Key Loan Jumbo 30 yr Fixed' 
									OR l.[Program]='VA Single-Close Constr To Perm - 30 yr Fixed'),1.75,0))),
	--SKIE Touches
		(SUM(IIF(f.[TaskID]=333 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='DPA - 2nd'),0.50,0))
		+SUM(IIF(f.[TaskID]=333 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='FHA - Streamline' 
									 OR l.[Category]='FHLMC' 
									 OR l.[Category]='FHLMC - Hi Bal'
									 OR l.[Category]='FNMA'
									 OR l.[Category]='FNMA - Hi Bal'
									 OR l.[Category]='Portfolio - Agency Fixed'),1.00,0))
		+SUM(IIF(f.[TaskID]=333 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='FHA' 
									 OR l.[Category]='VA' 
									 OR l.[Category]='FHA - Hi Bal' 
									 OR l.[Category]='VA - Hi Bal'),1.25,0))
		+SUM(IIF(f.[TaskID]=333 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='DPA - 1st' 
									 OR l.[Category]='FHLMC - Const Perm' 
									 OR l.[Category]='FNMA - Const Perm' 
									 OR l.[Category]='USDA' 
									 OR l.[Category] LIKE 'FNMA - Const Perm - Hi Ba%'),1.50,0))
		+SUM(IIF(f.[TaskID]=333 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='Jumbo - Del' 
									 OR l.[Category]='FHA - Rehab' 
									 OR l.[Category]='FNMA - Rehab'
									 OR l.[Category]='Portfolio - 2nd'
									 OR l.[Category]='Portfolio - ARM' 
									 OR l.[Category]='Portfolio - Bridge' 
									 OR l.[Category]='Portfolio - Fixed' 
									 OR l.[Category]='VA - Const Perm' 
									 OR l.[Category]='Jumbo - Non Del'
									 OR l.[Category]='VA - Rehab'
									 OR l.[Category]='"Portfolio - Specialty Fi'
									 OR l.[Category]='Niche'),1.75,0))
		+SUM(IIF(f.[TaskID]=333 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='Portfolio - Const'
									 OR l.[Category]='Portfolio - Jumbo - Const'
									 OR l.[Category]='Portfolio - Const Perm'),2.25,0))
		+SUM(IIF(f.[TaskID]=333 AND f.[CompletedOn]>=@PrevStartDate AND (l.[Category]='Portfolio - Commercial'),3.00,0)) ),

	--PC Findings Last 3 Months
		0,

	--FUW Decisions Last 3 Months
		(SUM(IIF(f.[TaskID]=54 AND f.[CompletedOn]>=@Rolling90DayStartDate AND (l.[Category]='DPA - 2nd'),0.50,0))
		+SUM(IIF(f.[TaskID]=54 AND f.[CompletedOn]>=@Rolling90DayStartDate AND (l.[Category]='FHA - Streamline' 
									 OR l.[Category]='FHLMC' 
									 OR l.[Category]='FHLMC - Hi Bal'
									 OR l.[Category]='FNMA'
									 OR l.[Category]='FNMA - Hi Bal'
									 OR l.[Category]='Portfolio - Agency Fixed'),1.00,0))
		+SUM(IIF(f.[TaskID]=54 AND f.[CompletedOn]>=@Rolling90DayStartDate AND (l.[Category]='FHA' 
									 OR l.[Category]='VA' 
									 OR l.[Category]='FHA - Hi Bal' 
									 OR l.[Category]='VA - Hi Bal'),1.25,0))
		+SUM(IIF(f.[TaskID]=54 AND f.[CompletedOn]>=@Rolling90DayStartDate AND (l.[Category]='DPA - 1st' 
									 OR l.[Category]='FHLMC - Const Perm' 
									 OR l.[Category]='FNMA - Const Perm' 
									 OR l.[Category]='USDA' 
									 OR l.[Category] LIKE 'FNMA - Const Perm - Hi Ba%'),1.50,0))
		+SUM(IIF(f.[TaskID]=54 AND f.[CompletedOn]>=@Rolling90DayStartDate AND (l.[Category]='Jumbo - Del' 
									 OR l.[Category]='FHA - Rehab' 
									 OR l.[Category]='FNMA - Rehab'
									 OR l.[Category]='Portfolio - 2nd'
									 OR l.[Category]='Portfolio - ARM' 
									 OR l.[Category]='Portfolio - Bridge' 
									 OR l.[Category]='Portfolio - Fixed' 
									 OR l.[Category]='VA - Const Perm' 
									 OR l.[Category]='Jumbo - Non Del'
									 OR l.[Category]='VA - Rehab'
									 OR l.[Category]='"Portfolio - Specialty Fi'
									 OR l.[Category]='Niche'),1.75,0))
		+SUM(IIF(f.[TaskID]=54 AND f.[CompletedOn]>=@Rolling90DayStartDate AND (l.[Category]='Portfolio - Const'
									 OR l.[Category]='Portfolio - Jumbo - Const'
									 OR l.[Category]='Portfolio - Const Perm'),2.25,0))
		+SUM(IIF(f.[TaskID]=54 AND f.[CompletedOn]>=@Rolling90DayStartDate AND (l.[Category]='Portfolio - Commercial'),3.00,0)) ),

	--AdversedUnits Last 3 Months
		(SUM(IIF(f.[TaskID]=297 AND f.[CompletedOn]>=@Rolling90DayStartDate AND (l.[Program]='MFA First Down Second Mortgage' 
									OR l.[Program]='NHF - 10 yr Fixed 2nd Mtg'),0.50,0))
		+SUM(IIF(f.[TaskID]=297 AND f.[CompletedOn]>=@Rolling90DayStartDate AND (l.[Program]='FNMA - 30 yr Fixed' 
									OR l.[Program]='FNMA HomeReady - 30 yr Fixed' 
									OR l.[Program]='OTHL Specialty Conventional 30 yr Fixed - Investment Property' 
									OR l.[Program]='OTHL Specialty Conventional High Bal 30 yr Fixed'),1.00,0))
		+SUM(IIF(f.[TaskID]=297 AND f.[CompletedOn]>=@Rolling90DayStartDate AND (l.[Program]='FHA - 30 yr Fixed' 
									OR l.[Program]='OTHL Specialty FHA High Bal 30 yr Fixed' 
									OR l.[Program]='OTHL Specialty VA  30 yr Fixed' 
									OR l.[Program]='VA - 30 yr Fixed'),1.25,0))
		+SUM(IIF(f.[TaskID]=297 AND f.[CompletedOn]>=@Rolling90DayStartDate AND (l.[Program]='FHA Single-Close Constr To Perm - 30 yr Fixed' 
									OR l.[Program]='IHFA - Advantage Conv 30 Year Fixed' 
									OR l.[Program]='MFA First Home - FHA 30 Year Fixed' 
									OR l.[Program]='MFA Next Home - FHA 30 Year Fixed' 
									OR l.[Program]='OTHL Portfolio - 30/15 yr Fixed Balloon 2nd Mtg - ADU Single-Close Constr T'),1.50,0))
		+SUM(IIF(f.[TaskID]=297 AND f.[CompletedOn]>=@Rolling90DayStartDate AND (l.[Program]='FHA 203k - 30 yr Fixed' 
									OR l.[Program]='OTHL Portfolio - Bridge 1 yr Fixed IO' 
									OR l.[Program]='OTHL Portfolio - Lot/Land IO' 
									OR l.[Program]='OTHL Portfolio - Non-QM 5/6 ARM' 
									OR l.[Program]='Truist Bank - Key Loan Jumbo 30 yr Fixed' 
									OR l.[Program]='VA Single-Close Constr To Perm - 30 yr Fixed'),1.75,0))),

	--DaysWorkedPrevMo
	0,--	IIF(@PrevStartDate=CAST(h.[TimePeriod] as date), CAST(h.[Sum of Hours Worked] as decimal(5,2)),0),
	--DaysWorkedLast3Months
	0,--	IIF(@PrevStartDate>=CAST(h.[TimePeriod] as date) AND @Rolling90DayStartDate<=CAST(h.[TimePeriod] as date), SUM(CAST(h.[Sum of Hours Worked] as decimal(5,2))),0),
	--ACESMatModPercent
	0,
	--ACESTotalPercent 
	0,
	--ACESAveragedScore
	0

    FROM [Prod].[dbo].[FactTaskTable] f
	JOIN [Prod].[dbo].FactLoanTable l ON f.[GUID]=l.[GUID]
	JOIN [Prod].[dbo].[DimLoanWorker] dlw ON f.[WorkerID]=dlw.[ID]
	JOIN Underwriters uw ON uw.[Employee]=dlw.[WorkerName]
	--JOIN UWHours h ON h.[Employee]=dlw.[WorkerName]
	--LEFT JOIN Worker ON OriginalName=l.[LoanTeamMember.Name.Underwriter]
	WHERE l.[Folder] <> 'Training' AND f.[CompletedOn]>=@Rolling90DayStartDate AND f.[CompletedOn]<@CurrentDate
	GROUP BY  uw.[Employee] 
	

	DECLARE @HoursWorkedTable TABLE(
	Worker VARCHAR(200),
	PrevMoDaysWorked DECIMAL(8,2),
	Last3MonthsDaysWorked DECIMAL(8,2)
	);

	INSERT INTO @HoursWorkedTable 
	SELECT
	 DISTINCT [Employee],
	SUM(IIF(CAST([TimePeriod] as date) = @PrevStartDate, CAST([Sum of Hours Worked] as decimal (5,2)),null)),
	SUM(IIF(CAST([TimePeriod] as date) >= @Rolling90DayStartDate, CAST([Sum of Hours Worked] as decimal (5,2)),null))
	FROM  [StagingDB].[dbo].[UWHoursWorked] group by [Employee]

	UPDATE @UnderwritingOpsScorecard SET
		DaysWorkedPrevMo = PrevMoDaysWorked,
		DaysWorkedLast3Months = Last3MonthsDaysWorked
	FROM @HoursWorkedTable h JOIN @UnderwritingOpsScorecard u ON h.[Worker]=u.Underwriter
	WHERE h.[Worker]=u.Underwriter and h.[Last3MonthsDaysWorked] is not null

	DECLARE @PCandACESTable TABLE(
	Worker VARCHAR(200),
	PCFindingsLast3Months INT,
	ACESMatModPercent Decimal (3,2),
	ACESTotalPercent Decimal(3,2),
	ACESAveragedScore Decimal(3,2)
	);

	INSERT INTO @PCandACESTable 
	SELECT
	 DISTINCT [Employee],
	SUM(CAST([PC Findings] as INT)),
	SUM(CAST([Material  Moderate Percent] as decimal (1,0)))/100,
	SUM(CAST([Total Percent] as decimal (2,0)))/100,
	SUM(CAST([Averaged Aces Score] as decimal (2,1)))
	FROM  [StagingDB].[dbo].[UWScorecardMetrics] where CAST([TimePeriod] as date)=@Rolling90DayStartDate group by [Employee]

	UPDATE @UnderwritingOpsScorecard SET
		u.PCFindingsLast3Months = h.PCFindingsLast3Months,
		u.ACESMatModPercent = h.ACESMatModPercent,
		u.ACESTotalPercent = h.ACESTotalPercent,
		u.ACESAveragedScore = h.ACESAveragedScore
	FROM @PCandACESTable h JOIN @UnderwritingOpsScorecard u ON h.[Worker]=u.Underwriter
	WHERE h.[Worker]=u.Underwriter

	RETURN 
END

