USE [Prod]
GO
/****** Object:  StoredProcedure [dbo].[usp_MODM_PopulateOpsScorecardDataUnderwriters]    Script Date: 8/15/2025 8:31:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[usp_MODM_PopulateOpsScorecardDataUnderwriters] 
	-- Add the parameters for the stored procedure here
	@MonthID INT
	
AS
BEGIN
	

	DECLARE @CurrentDate Date 
	SELECT @CurrentDate  = Date  FROM  [Prod].[dbo].[DimDate] d WHERE @MonthID =d.DateId

	DECLARE @PrevStartDate Date 
	SELECT @PrevStartDate = DATEADD(mm,-1,@CurrentDate)
	DECLARE @PrevEndDate Date 
	SELECT @PrevEndDate = EOMONTH(@PrevStartDate)

	DECLARE @Rolling90DayStartDate Date 
	SELECT @Rolling90DayStartDate = DATEADD(mm, DATEDIFF(mm, 0, @CurrentDate) - 3, 0)
	--print @Rolling90DayStartDate
	DECLARE @Rolling90DayStartDateID INT
	SELECT @Rolling90DayStartDateID  = DateId  FROM  [Prod].[dbo].[DimDate] d WHERE @Rolling90DayStartDate =d.Date

	DECLARE @YearStartDate Date 
	SELECT @YearStartDate = DATEADD(yy, DATEDIFF(yy, 0, @PrevStartDate), 0)

	SET NOCOUNT ON;
--------------------------------------------------------------------------
	BEGIN 
	IF EXISTS (SELECT * FROM UnderwritingOpsScorecardRawData where MonthID = @MonthID)
	BEGIN 
	DELETE FROM UnderwritingOpsScorecardRawData where [MonthID]=@MonthID;
	INSERT INTO UnderwritingOpsScorecardRawData ([MonthID],[Underwriter] ,[InitialUWWeightedTouchesPrevMo] ,[FinalUWWeightedTouchesPrevMo] ,[CriticalSubsWeightedTouchesPrevMo] ,[SuspenseWeightedTouchesPrevMo] ,[AdversedWeightedTouchesPrevMo] ,[SKIEWeightedTouchesPrevMo],[PCFindingsLast3Months] ,[FinalUWWeightedTouchesLast3Months] ,[AdversedWeightedTouchesLast3Months] ,[DaysWorkedPrevMo] ,[DaysWorkedLast3Months] ,[ACESMatModPercent], [ACESTotalPercent] ,[ACESAveragedScore] ,[OnHoldWeightedTouchesPrevMo]) select @MonthID as [MonthID],[Underwriter] ,[InitialUWWeightedTouchesPrevMo] ,[FinalUWWeightedTouchesPrevMo] ,[CriticalSubsWeightedTouchesPrevMo] ,[SuspenseWeightedTouchesPrevMo] ,[AdversedWeightedTouchesPrevMo] ,[SKIEWeightedTouchesPrevMo],[PCFindingsLast3Months] ,[FinalUWWeightedTouchesLast3Months] ,[AdversedWeightedTouchesLast3Months] ,[DaysWorkedPrevMo] ,[DaysWorkedLast3Months] ,[ACESMatModPercent], [ACESTotalPercent], [ACESAveragedScore] ,[OnHoldWeightedTouchesPrevMo] from  [dbo].GenerateOpsScorecardUnderwriters(@MonthID)
	END
	ELSE 
	BEGIN INSERT INTO UnderwritingOpsScorecardRawData ([MonthID],[Underwriter] ,[InitialUWWeightedTouchesPrevMo] ,[FinalUWWeightedTouchesPrevMo] ,[CriticalSubsWeightedTouchesPrevMo] ,[SuspenseWeightedTouchesPrevMo] ,[AdversedWeightedTouchesPrevMo] ,[SKIEWeightedTouchesPrevMo],[PCFindingsLast3Months] ,[FinalUWWeightedTouchesLast3Months] ,[AdversedWeightedTouchesLast3Months] ,[DaysWorkedPrevMo] ,[DaysWorkedLast3Months] ,[ACESMatModPercent], [ACESTotalPercent] ,[ACESAveragedScore] ,[OnHoldWeightedTouchesPrevMo]) select @MonthID as [MonthID],[Underwriter] ,[InitialUWWeightedTouchesPrevMo] ,[FinalUWWeightedTouchesPrevMo] ,[CriticalSubsWeightedTouchesPrevMo] ,[SuspenseWeightedTouchesPrevMo] ,[AdversedWeightedTouchesPrevMo] ,[SKIEWeightedTouchesPrevMo],[PCFindingsLast3Months] ,[FinalUWWeightedTouchesLast3Months] ,[AdversedWeightedTouchesLast3Months] ,[DaysWorkedPrevMo] ,[DaysWorkedLast3Months] ,[ACESMatModPercent], [ACESTotalPercent], [ACESAveragedScore] ,[OnHoldWeightedTouchesPrevMo] from  [dbo].GenerateOpsScorecardUnderwriters(@MonthID) END

	--SELECT @MonthID as [MonthID],* INTO UnderwritingOpsScorecardRawData FROM [dbo].[GenerateOpsScorecardUnderwriters](@MonthID)

	IF OBJECT_ID('tempdb..#UnderwritingOpsScorecardTABLE') IS NOT NULL DROP TABLE #UnderwritingOpsScorecardTABLE

		SELECT * INTO #UnderwritingOpsScorecardTABLE FROM [dbo].GenerateOpsScorecardUnderwriters(@MonthID) where [DaysWorkedLast3Months]>0.0
		
		DECLARE @Underwriter VARCHAR(200)

		DECLARE Worker_cursor CURSOR FOR SELECT Underwriter FROM #UnderwritingOpsScorecardTABLE 

		OPEN Worker_cursor  

		FETCH NEXT FROM Worker_cursor  INTO @Underwriter;  

		WHILE @@FETCH_STATUS = 0  
		BEGIN  

			DECLARE @InitialUWWeightedTouchesPrevMo Decimal (6,2)
			DECLARE @FinalUWWeightedTouchesPrevMo Decimal (6,2)
			DECLARE @CriticalSubsWeightedTouchesPrevMo Decimal (6,2)
			DECLARE @SuspenseWeightedTouchesPrevMo Decimal (6,2)
			DECLARE @OnHoldWeightedTouchesPrevMo Decimal (6,2)
			DECLARE @AdversedWeightedTouchesPrevMo Decimal (6,2)
			DECLARE @SKIEWeightedTouchesPrevMo Decimal (6,2)
			DECLARE @PCFindingsLast3Months Decimal (6,2)
			DECLARE @FinalUWWeightedTouchesLast3Months Decimal (6,2)
			DECLARE @AdversedWeightedTouchesLast3Months Decimal (6,2)
			DECLARE @DaysWorkedPrevMo Decimal (5,2)
			DECLARE @DaysWorkedLast3Months Decimal (6,2)
			DECLARE @ACESMatModPercent Decimal (3,2)
			DECLARE @ACESTotalPercent Decimal(3,2)
			DECLARE @ACESAveragedScore Decimal(2,1)
				

			SELECT
				@InitialUWWeightedTouchesPrevMo=InitialUWWeightedTouchesPrevMo,
				@FinalUWWeightedTouchesPrevMo=FinalUWWeightedTouchesPrevMo,
				@CriticalSubsWeightedTouchesPrevMo=CriticalSubsWeightedTouchesPrevMo,
				@SuspenseWeightedTouchesPrevMo=SuspenseWeightedTouchesPrevMo,
				@OnHoldWeightedTouchesPrevMo=OnHoldWeightedTouchesPrevMo,
				@AdversedWeightedTouchesPrevMo=AdversedWeightedTouchesPrevMo,
				@SKIEWeightedTouchesPrevMo=SKIEWeightedTouchesPrevMo,
				@PCFindingsLast3Months=PCFindingsLast3Months,
				@FinalUWWeightedTouchesLast3Months=FinalUWWeightedTouchesLast3Months,
				@AdversedWeightedTouchesLast3Months=AdversedWeightedTouchesLast3Months,
				@DaysWorkedPrevMo=DaysWorkedPrevMo,
				@DaysWorkedLast3Months=DaysWorkedLast3Months,
				@ACESMatModPercent=ACESMatModPercent,
				@ACESTotalPercent=ACESTotalPercent,
				@ACESAveragedScore=ACESAveragedScore

			FROM #UnderwritingOpsScorecardTABLE u
			WHERE u.Underwriter = @Underwriter



		-- KPI 1 Weighted Touches Per Day Previous Month -25% -------------------------------------------------------------------------------------------------------------------
			DECLARE @TotalWeightedTouchesPrevMo Decimal(6,2)
			SELECT @TotalWeightedTouchesPrevMo = @InitialUWWeightedTouchesPrevMo+@FinalUWWeightedTouchesPrevMo+@CriticalSubsWeightedTouchesPrevMo+@SuspenseWeightedTouchesPrevMo+@OnHoldWeightedTouchesPrevMo+@SKIEWeightedTouchesPrevMo
			

			DECLARE @PMTDWeightedTouchesPerDay DECIMAL(8,2)
			SELECT @PMTDWeightedTouchesPerDay = IIF(@DaysWorkedPrevMo=0,0,@TotalWeightedTouchesPrevMo/@DaysWorkedPrevMo)

			DECLARE @PMTDWeightedTouchesPerDayScore INT
			SELECT @PMTDWeightedTouchesPerDayScore = IIF(@PMTDWeightedTouchesPerDay>=5.5,5,
													IIF(@PMTDWeightedTouchesPerDay>5,4,
														IIF(@PMTDWeightedTouchesPerDay=5,3,
															IIF(@PMTDWeightedTouchesPerDay>=4,2,1))))

			DECLARE @PMTDWeightedTouchesPerDayWeightedScore DECIMAL(3,2)
			SELECT @PMTDWeightedTouchesPerDayWeightedScore = @PMTDWeightedTouchesPerDayScore*0.25


			INSERT INTO FactOpsScorecard (EmployeeName, MonthID, DivisionID, TimeIntervalID, KPIID, KPIValue, KPIScore, WeightedKPIScore)
			VALUES (@Underwriter, @MonthID, 2, 1, 211, @PMTDWeightedTouchesPerDay, @PMTDWeightedTouchesPerDayScore, @PMTDWeightedTouchesPerDayWeightedScore)
				 

		-- KPI 2 Weighted Decisions Prev Month -25% -------------------------------------------------------------------------------------------------------------------

			DECLARE @WeightedDecisionsPrevMo Decimal (6,2)
			SELECT @WeightedDecisionsPrevMo = @FinalUWWeightedTouchesPrevMo+@AdversedWeightedTouchesPrevMo

			DECLARE @PMTDWeightedDecisionsScore INT
			SELECT  @PMTDWeightedDecisionsScore = IIF(@WeightedDecisionsPrevMo>=50,5,
													IIF(@WeightedDecisionsPrevMo>=45,4,
														IIF(@WeightedDecisionsPrevMo>=40,3,
															IIF(@WeightedDecisionsPrevMo>=35,2,1))))
			
			DECLARE @PMTDWeightedDecisionsWeightedScore Decimal(3,2)
			SELECT @PMTDWeightedDecisionsWeightedScore = @PMTDWeightedDecisionsScore*0.25

			INSERT INTO FactOpsScorecard (EmployeeName, MonthID, DivisionID, TimeIntervalID, KPIID, KPIValue, KPIScore, WeightedKPIScore)
			VALUES (@Underwriter, @MonthID, 2, 1, 212, @WeightedDecisionsPrevMo, @PMTDWeightedDecisionsScore, @PMTDWeightedDecisionsWeightedScore)

		-- KPI 3 PC Findings / Weighted Decisions -25% -------------------------------------------------------------------------------------------------------------------

			DECLARE @PMTDPCDefectPerDecision DECIMAL(5,4)
			SELECT  @PMTDPCDefectPerDecision = IIF(@FinalUWWeightedTouchesLast3Months=0,0, @PCFindingsLast3Months/(@FinalUWWeightedTouchesLast3Months+@AdversedWeightedTouchesLast3Months))

			DECLARE @PMTDPCDefectPerDecisionScore INT
			SELECT  @PMTDPCDefectPerDecisionScore = IIF(@PMTDPCDefectPerDecision<0.02,5,
													IIF(@PMTDPCDefectPerDecision<=0.04,4,
														IIF(@PMTDPCDefectPerDecision<=0.06,3,
															IIF(@PMTDPCDefectPerDecision<=0.08,2,1))))

			DECLARE @PMTDPCDefectPerDecisionWeightedScore DECIMAL(3,2)
			SELECT @PMTDPCDefectPerDecisionWeightedScore = @PMTDPCDefectPerDecisionScore*0.25

			INSERT INTO FactOpsScorecard (EmployeeName, MonthID, DivisionID, TimeIntervalID, KPIID, KPIValue, KPIScore, WeightedKPIScore)
			VALUES (@Underwriter, @MonthID, 2, 1, 213, FORMAT(@PMTDPCDefectPerDecision,'P'), @PMTDPCDefectPerDecisionScore, @PMTDPCDefectPerDecisionWeightedScore)


		-- KPI 4 ACES Quality -25% -------------------------------------------------------------------------------------------------------------------

			--@ACESTotalPercent

			--@ACESAveragedScore

			DECLARE @ACESTotalPercentWeightedScore DECIMAL(3,2)
			SELECT @ACESTotalPercentWeightedScore = @ACESAveragedScore*0.25

			INSERT INTO FactOpsScorecard (EmployeeName, MonthID, DivisionID, TimeIntervalID, KPIID, KPIValue, KPIScore, WeightedKPIScore)
			VALUES (@Underwriter, @MonthID, 2, 1, 214, FORMAT(@ACESTotalPercent,'P'), @ACESAveragedScore, @ACESTotalPercentWeightedScore)


			FETCH NEXT FROM Worker_cursor   
			INTO @Underwriter    
		END   
		CLOSE Worker_cursor;  
		DEALLOCATE Worker_cursor;

		DELETE FROM #UnderwritingOpsScorecardTABLE  -- Delete all rows then loop back and add new ones
	END 
END

